.container{
        height:95vh;
        width:50%;
        border:2px solid black;
       
        margin:50px 50px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
       
}
.box{
        border:2px solid red;
        height:100px;
        width:100px;
        margin:10px;
        display: flex;  
        justify-content: center;
        display:inline-block;
        width: 400px;

}
.box1{ background-color: lightblue;
        border-radius: 50%;
        width: 150px;
        text-align: center;
        line-height: 100px;
}
.box1 {
	-webkit-animation: rotate-in-diag-1 0.9s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: rotate-in-diag-1 0.9s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}


@-webkit-keyframes rotate-in-diag-1 {
  0% {
    -webkit-transform: rotate3d(1, 1, 0, -360deg);
            transform: rotate3d(1, 1, 0, -360deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotate3d(1, 1, 0, 0deg);
            transform: rotate3d(1, 1, 0, 0deg);
    opacity: 1;
  }
}
@keyframes rotate-in-diag-1 {
  0% {
    -webkit-transform: rotate3d(1, 1, 0, -360deg);
            transform: rotate3d(1, 1, 0, -360deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotate3d(1, 1, 0, 0deg);
            transform: rotate3d(1, 1, 0, 0deg);
    opacity: 1;
  }
}

.box2{
        background-color: lime;

}

.box2 {
	-webkit-animation: tilt-in-top-2 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: tilt-in-top-2 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
@-webkit-keyframes tilt-in-top-2 {
  0% {
    -webkit-transform: rotateX(-30deg) translateY(-300px) skewY(30deg);
            transform: rotateX(-30deg) translateY(-300px) skewY(30deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateX(0deg) translateY(0px) skewY(0deg);
            transform: rotateX(0deg) translateY(0px) skewY(0deg);
    opacity: 1;
  }
}

.box3{
        background-color: orange;
}
.box4 {
	-webkit-animation: tilt-in-right-1 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: tilt-in-right-1 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
                margin-top: 50px;
}

@-webkit-keyframes tilt-in-right-1 {
  0% {
    -webkit-transform: rotateY(30deg) translateX(300px) skewY(30deg);
            transform: rotateY(30deg) translateX(300px) skewY(30deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateY(0deg) translateX(0px) skewY(0deg);
            transform: rotateY(0deg) translateX(0px) skewY(0deg);
    opacity: 1;
  }
}

.box4{
        background-color: orange;
}
.box3 {
        -webkit-animation: tilt-in-left-1 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
                animation: tilt-in-left-1 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;

        width: 150px;
        height: 200px;
        display: inline-block;
        text-align: center;
}       

@-webkit-keyframes tilt-in-left-1 {
  0% {
    -webkit-transform: rotateY(-30deg) translateX(-300px) skewY(-30deg);
            transform: rotateY(-30deg) translateX(-300px) skewY(-30deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateY(0deg) translateX(0px) skewY(0deg);
            transform: rotateY(0deg) translateX(0px) skewY(0deg);
    opacity: 1;
  }
}

.box5{
        background-color: yellow;
}

.box5 {
        -webkit-animation: pop-in .8s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
                animation: pop-in .8s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
@-webkit-keyframes pop-in {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}